@using PersonalDiary.SharedLibrary.Models
@model EventListModel
@{
    ViewData["Title"] = "Personal Diary";
}
<div class="col-lg-12 col-md-12 col-sm-12">
    <input type="button" class="col-lg-3 col-md-3 col-sm-3 btn btn-primary" value="Add Event" onclick="AddNewEvent()" />
    <span class="col-lg-3 col-md-3 col-sm-3"></span>
    <span class="col-lg-3 col-md-3 col-sm-3 float-right"><B>@TempData["UserName"]</B></span>
    <input type="button" class="col-lg-1 col-md-1 col-sm-3 btn btn-danger float-right" value="Logout" onclick="LogOut()" />
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="cards-row col-lg-12 col-md-12 col-sm-12">
        @foreach (EventModel data in Model.eventList)
        {

        <div class="card col-lg-4 col-md-4 col-sm-12">
            @if (!string.IsNullOrEmpty(data.EventImage))
            {
                <img src="@data.EventImage" class="card-image" />
            }
            else
            {
                <img src="~/Images/NoImage.png" class="card-image" />
            }
            <div class="card-title">
                @data.EventTitle : @data.EventDate.ToShortDateString()
            </div>
            <div class="card-desc">

                @data.EventDescription
            </div>
            <div class="card-actions">
                <button type='button' class='card-action-readMore' onclick="EventDetail(@data.EventId)">Read More</button> &nbsp;&nbsp;
                @if (data.IsFavourite == true)
                {
                    <img src="~/Images/SVG/favorite.png" height="40px" width="40px" />
                }
            </div>
        </div>
        }

    </div>
</div>
<script>

    function EventDetail(eventId) {
        window.location.href = '@Url.Action("EventDetail", "Home")?eventId=' + eventId;
    }
    function AddNewEvent() {
        window.location.href = '@Url.Action("AddEvent", "Home")';
    }
    function LogOut() {
        window.location.href = '@Url.Action("LogOut", "Login")';
    }
</script>